.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #f3f3f3;
  height: 100vh;
}

.todoContainer {
  grid-column: span 2;
}

.taskEditContainer {
  grid-column: span 3;
}
